El archivo movies_dataset.csv contiene información detallada sobre películas, incluyendo datos sobre su reparto (cast), equipo de producción (crew), identificadores únicos (id) y posiblemente otras características relevantes para su análisis.

Cada película está representada por una fila, y las columnas pueden incluir estructuras anidadas en formato de texto JSON, lo que requiere procesamiento para extraer la información correctamente.

En este notebook se realiza una limpieza y transformación del dataset de películas (movies_dataset.csv). A continuación, se detallan los pasos principales:

    Carga de datos: Se lee el archivo CSV original.

    Desanidación de datos: Se extraen los nombres de belongs_to_collection, production_companies y production_countries, que están almacenados como listas de diccionarios.

    Manejo de valores nulos:

        Se reemplazan los valores nulos en revenue y budget con 0.

        Se eliminan las filas sin fecha de estreno (release_date).

    Formateo de fechas:

        Se convierte release_date al formato AAAA-mm-dd.

        Se extrae el release_year en una nueva columna.

    Cálculo del retorno de inversión: Se crea la columna return, calculando revenue / budget, asignando 0 cuando budget es 0 para evitar errores.

    Eliminación de columnas innecesarias: Se eliminan video, imdb_id, adult, original_title, poster_path y homepage para optimizar el dataset.

    Reducción del dataset: Se elimina aleatoriamente el 40% de los registros para reducir el tamaño y mantener consistencia con otros datasets procesados.

    Exportación: El dataset limpio se guarda en formato Parquet en la carpeta dataset_limpio, mejorando el rendimiento y el almacenamiento.

In [2]:
import pandas as pd
import os
import json
import ast

In [3]:

# Ruta del archivo en tu sistema local
file_path = r"C:\Users\E B M\Documents\proyecto_mp\dataset_org\movies_dataset.csv"

# Cargar el archivo
df = pd.read_csv(file_path, low_memory=False)

In [4]:
# Mostrar información general del DataFrame
print("Información general del DataFrame:")
print(df.info())

Información general del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB
None

In [5]:
# Mostrar las primeras filas del DataFrame
print("\nPrimeras filas del DataFrame:")
print(df.head())

Primeras filas del DataFrame:
   adult                              belongs_to_collection    budget  \
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
1  False                                                NaN  65000000
2  False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
3  False                                                NaN  16000000
4  False  {'id': 96871, 'name': 'Father of the Bride Col...         0

                                              genres  \
0  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                     [{'id': 35, 'name': 'Comedy'}]

                               homepage     id    imdb_id original_language  \
0  http://toystory.disney.com/toy-story    862  tt0114709                en
1                                   NaN   8844  tt0113497                en
2                                   NaN  15602  tt0113228                en
3                                   NaN  31357  tt0114885                en
4                                   NaN  11862  tt0113041                en

                original_title  \
0                    Toy Story
1                      Jumanji
2             Grumpier Old Men
3            Waiting to Exhale
4  Father of the Bride Part II

                                            overview  ... release_date  \
0  Led by Woody, Andy's toys live happily in his ...  ...   1995-10-30
1  When siblings Judy and Peter discover an encha...  ...   1995-12-15
2  A family wedding reignites the ancient feud be...  ...   1995-12-22
3  Cheated on, mistreated and stepped on, the wom...  ...   1995-12-22
4  Just when George Banks has recovered from his ...  ...   1995-02-10

       revenue runtime                                   spoken_languages  \
0  373554033.0    81.0           [{'iso_639_1': 'en', 'name': 'English'}]
1  262797249.0   104.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2          0.0   101.0           [{'iso_639_1': 'en', 'name': 'English'}]
3   81452156.0   127.0           [{'iso_639_1': 'en', 'name': 'English'}]
4   76578911.0   106.0           [{'iso_639_1': 'en', 'name': 'English'}]

     status                                            tagline  \
0  Released                                                NaN
1  Released          Roll the dice and unleash the excitement!
2  Released  Still Yelling. Still Fighting. Still Ready for...
3  Released  Friends are the people who let you be yourself...
4  Released  Just When His World Is Back To Normal... He's ...

                         title  video vote_average vote_count
0                    Toy Story  False          7.7     5415.0
1                      Jumanji  False          6.9     2413.0
2             Grumpier Old Men  False          6.5       92.0
3            Waiting to Exhale  False          6.1       34.0
4  Father of the Bride Part II  False          5.7      173.0

[5 rows x 24 columns]

In [6]:
# Descripción estadística de las columnas numéricas
print("\nDescripción estadística:")
print(df.describe())

Descripción estadística:
            revenue       runtime  vote_average    vote_count
count  4.546000e+04  45203.000000  45460.000000  45460.000000
mean   1.120935e+07     94.128199      5.618207    109.897338
std    6.433225e+07     38.407810      1.924216    491.310374
min    0.000000e+00      0.000000      0.000000      0.000000
25%    0.000000e+00     85.000000      5.000000      3.000000
50%    0.000000e+00     95.000000      6.000000     10.000000
75%    0.000000e+00    107.000000      6.800000     34.000000
max    2.787965e+09   1256.000000     10.000000  14075.000000

In [7]:
# Mostrar la cantidad de valores nulos por columna
print("\nValores nulos por columna:")
print(df.isnull().sum())

# Mostrar el tipo de datos de cada columna
print("\nTipos de datos de cada columna:")
print(df.dtypes)

Valores nulos por columna:
adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

Tipos de datos de cada columna:
adult                     object
belongs_to_collection     object
budget                    object
genres                    object
homepage                  object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object

In [8]:
print(df['title'].head())  # Muestra las primeras 5 películas

0                      Toy Story
1                        Jumanji
2               Grumpier Old Men
3              Waiting to Exhale
4    Father of the Bride Part II
Name: title, dtype: object

In [9]:
# 1. Desanidar columnas con diccionarios o listas
def extract_name(value):
    if pd.isna(value) or value == "[]" or value == "{}":
        return None
    try:
        data = ast.literal_eval(value)
        if isinstance(data, dict):
            return data.get('name', None)
        elif isinstance(data, list):
            return ', '.join([item['name'] for item in data if 'name' in item])
    except Exception as e:
        return None
    return None

df['belongs_to_collection'] = df['belongs_to_collection'].apply(extract_name)
df['production_companies'] = df['production_companies'].apply(extract_name)
df['production_countries'] = df['production_countries'].apply(extract_name)
df['genres'] = df['genres'].apply(extract_name)
df['spoken_languages'] = df['spoken_languages'].apply(extract_name)

In [10]:

# 2. Rellenar valores nulos en revenue y budget con 0
df['revenue'] = df['revenue'].fillna(0)
df['budget'] = df['budget'].fillna(0)

In [11]:

# 3. Eliminar valores nulos en release_date
df = df.dropna(subset=['release_date'])

In [12]:

# 4. Formatear fechas y extraer el anio de estreno
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')
df['release_year'] = df['release_date'].dt.year

In [13]:
# Convertir 'revenue' y 'budget' a valores numéricos, reemplazando errores con 0
df['revenue'] = pd.to_numeric(df['revenue'], errors='coerce').fillna(0)
df['budget'] = pd.to_numeric(df['budget'], errors='coerce').fillna(0)

# Crear la columna return
df['return'] = df.apply(lambda row: row['revenue'] / row['budget'] if row['budget'] > 0 else 0, axis=1)

In [14]:
# Verificar qué columnas existen antes de eliminarlas
columns_to_drop = ['video', 'imdb_id', 'adult', 'original_title', 'poster_path', 'homepage']
existing_columns = [col for col in columns_to_drop if col in df.columns]

# Eliminar solo las columnas que existen
df.drop(columns=existing_columns, inplace=True)

In [15]:
# Seleccionar columnas clave para mostrar información
important_columns = ['title', 'release_year', 'genres', 'budget', 'revenue', 'return', 'popularity', 'vote_average', 'vote_count']

# Mostrar las primeras filas de las columnas importantes
print(df[important_columns].head())

# Mostrar información general de las columnas importantes
print(df[important_columns].info())

# Descripción estadística de las columnas numéricas importantes
print(df[important_columns].describe())

                         title  release_year                      genres  \
0                    Toy Story        1995.0   Animation, Comedy, Family
1                      Jumanji        1995.0  Adventure, Fantasy, Family
2             Grumpier Old Men        1995.0             Romance, Comedy
3            Waiting to Exhale        1995.0      Comedy, Drama, Romance
4  Father of the Bride Part II        1995.0                      Comedy

       budget      revenue     return popularity  vote_average  vote_count
0  30000000.0  373554033.0  12.451801  21.946943           7.7      5415.0
1  65000000.0  262797249.0   4.043035  17.015539           6.9      2413.0
2         0.0          0.0   0.000000    11.7129           6.5        92.0
3  16000000.0   81452156.0   5.090760   3.859495           6.1        34.0
4         0.0   76578911.0   0.000000   8.387519           5.7       173.0
<class 'pandas.core.frame.DataFrame'>
Index: 45379 entries, 0 to 45465
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         45376 non-null  object
 1   release_year  45376 non-null  float64
 2   genres        42995 non-null  object
 3   budget        45379 non-null  float64
 4   revenue       45379 non-null  float64
 5   return        45379 non-null  float64
 6   popularity    45377 non-null  object
 7   vote_average  45376 non-null  float64
 8   vote_count    45376 non-null  float64
dtypes: float64(6), object(3)
memory usage: 3.5+ MB
None
       release_year        budget       revenue        return  vote_average  \
count  45376.000000  4.537900e+04  4.537900e+04  4.537900e+04  45376.000000
mean    1991.881193  4.232325e+06  1.122936e+07  6.599991e+02      5.624070
std       24.055360  1.743932e+07  6.438789e+07  7.469083e+04      1.915423
min     1874.000000  0.000000e+00  0.000000e+00  0.000000e+00      0.000000
25%     1978.000000  0.000000e+00  0.000000e+00  0.000000e+00      5.000000
50%     2001.000000  0.000000e+00  0.000000e+00  0.000000e+00      6.000000
75%     2010.000000  0.000000e+00  0.000000e+00  0.000000e+00      6.800000
max     2020.000000  3.800000e+08  2.787965e+09  1.239638e+07     10.000000

         vote_count
count  45376.000000
mean     110.096439
std      491.742894
min        0.000000
25%        3.000000
50%       10.000000
75%       34.000000
max    14075.000000

In [45]:

# Guardar el archivo limpio
df.to_parquet('C:/Users/E B M/Documents/proyecto_mp/dataset_limpio/movies_dataset_cleaned.parquet', index=False)